.github
.git
.cache
.DS_Store
*.md
*.tar
*.tar.gz
*.tgz
.vscode
.env
.env.*
!.env.example
.gitignore
Makefile
docs
.eslintcache
.gocache
logs
/web/node_modules
/web/default/node_modules
/web/default/dist
/web/classic/node_modules
/web/classic/dist
!THIRD-PARTY-LICENSES.md
